/dependencies
/obj
/bin
/VisualQuestTreeBackend/node_modules
/VisualQuestTreeBackend/types
/VisualQuestTreeBackend/package-lock.json
/VisualQuestTreeBackend/tsconfig.json
/VisualQuestTreeBackend/mod.code-workspace
/VisualQuestTreeBackend/dist
/VisualQuestTreeBackend/eslintignore.txt
/VisualQuestTreeBackend/packageBuild.ts
/VisualQuestTreeBackend/.buildignore